.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles.css ou Product.css */
.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  margin: auto;
  position: fixed; /* Adicione isto */
  top: 50%; /* Adicione isto */
  left: 50%; /* Adicione isto */
  transform: translate(-50%, -50%); /* Adicione isto */
  z-index: 1000; /* Adicione isto */
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
  position: fixed; /* Adicione isto */
  top: 0; /* Adicione isto */
  left: 0; /* Adicione isto */
  right: 0; /* Adicione isto */
  bottom: 0; /* Adicione isto */
  z-index: 999; /* Adicione isto */
}
